<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

  <variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData}/Symco/WorkerServiceCattool/Logs" />
  <variable name="archiveDirectory" value="${specialfolder:folder=CommonApplicationData}/Symco/WorkerServiceCattool/Archives" />
  <variable name="verboseLayout" value="${longdate}|${uppercase:${level}}|thread=${threadid}|pid=${processid}|[${logger}] ${message} ${exception:format=shorttype,message,tostring}" />

  <targets>
      <target xsi:type="AsyncWrapper" name="asyncFile" queueLimit="10000" overflowAction="Discard">
          <target xsi:type="File"
                  name="file"
                  fileName="${logDirectory}/WorkerServiceCattool.log"
                  archiveFileName="${archiveDirectory}/WorkerServiceCattool.log"
                  archiveEvery="Day"
                  archiveSuffixFormat="_{1:yyyyMMdd}_{0:00}"
                  maxArchiveFiles="30"
                  createDirs="true"
                  layout="${verboseLayout}" />
      </target>            
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="asyncFile" />
  </rules>
</nlog>